body {
  width: 950px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  font-family: georgia, serif; }

div.wrapper {
  position: relative;
  width: 950px;
  height: auto;
  background: #333333;
  margin: 0 auto;
  text-align: center; }

div.wrapper > div {
  width: calc(100% /3);
  height: 500px;
  background: #aaa;
  float: left;
  margin-top: 100px; }

div.wrapper > div:nth-child(odd) {
  background: #dddddd; }
